<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kids Tables</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type='text/css'/>
	<style>
		h1 {text-align: center;}
	</style>
</head>

<!-- <nav class="navbar navbar-light" style="background-color: #e2e3e5;">
	<span class="navbar-brand mb-0 h1">Kids Tables</span>
</nav>
 -->
 <div><label/> </div>  <!-- make some space before the start of main body -->
{% block 'content' %}
{% endblock %}


<!--   this is jinjia2 language 
 {% for i in return_list %}
	{{i}}
 {% endfor %}
	-->