{% extends './base.html' %}
{% load static %}

{% block 'content' %}
<body class="body" style="background-color:#f6f6f6">
<div class='container'>
	<!-- <form id ='form1' action="/getanswers/" method="POST"> -->
	<form id ='form1' action="" method="POST">
	<div class='row no-gutters'>
		{% csrf_token %}
		{% for q in questions %}
		<div class='col-5' style="text-align:right">
			<div class="alert alert-secondary" role="alert" style="height: 50px;">		
			 <label style="text-align:right"> {{q}} </label>
			 <input id={{q}} type="text" name={{q}} style=" width: 50px;"> 
			</div>
		</div>
		{% endfor %}
		<!-- <div class="col-3" style="text-align:center;">
			<button type="submit"  style="height:28px; width:150px" >
				Get Answers
			</button>			
		</div> -->
		<div class="col-4" style="text-align:center;">
			<button type="submit" formaction="/verify/" style="height:28px; width:200px" >
				Verify Answers
			</button>			
		</div>
		<div class="col-4" style="text-align:center;">
			<button type="submit" formaction="/savequestions/" style="height:28px; width:250px" >
			Save Questions and Answers
			</button>			
		</div>
		</form>
	</div>
</div>
</body>
</html>
{% endblock %}