{% extends './base.html' %}
{% load static %}

{% block 'content' %}
<body class="body" style="background-color:#f6f6f6">
<div class='container'>
	<form action=""/getanswers/"" method="POST">
	<div class='row no-gutters'>
		{% csrf_token %}
		{% for result in results %}
		<div class='col-5' style="text-align:center">
			{% if result.1 %}
		 	  <div class="alert alert-secondary" role="alert" style="height: 50px;">		
			   <label style="text-align:center"> {{result.0}}  </label>
			  </div>
			{% else %}
			  <div class="alert alert-danger" role="alert" style="height: 50px;">	
			    <label style="text-align:center"> {{result.0}}  </label>
			  </div>
			{% endif %}
		</div>
		{% endfor %}
		</form>
	</div>
</div>
</body>
</html>
{% endblock %}